<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>thank u</title>
  </head>
  <body>
    <h1>Thank You For Your Feedback, {{name}}!!!</h1>
    <h2>An email was sent to "{{email}}"</h2>
    <h3>Your feedback was "{{thought}}"</h3>
    <h3>date='{{date}}'</h3>
    <h1>👍</h1>

    <form action="action_page.php" method="post">

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <span class="psw">Forgot <a href="##">password?</a></span>
  </div>
</form>
    </body>
</html>
